.shape_div_main {
    /* position: relative; */
}

/*waves effect */
.custom-shape-divider-bottom-1681647578 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1681647578 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1681647578 .shape-fill {
    fill: #ffffff;
}
